@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* { 
    margin: 0;
    padding: 0;
    font-family: 'Oswald' , 'arial';
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-image: url("../imagens/fundo_header.png");    
}

.container {
    width: 1500px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    
    
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul,
nav li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: bold;

}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../imagens/banner.png');
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-bottom: 30px;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}
.banner_escritas {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_escritas p {
    font-size: 20px;
    color: #3d2514;
    font-weight: bold;
    border: 2px dashed #3d2514;
    width: 400px;
    padding: 10px;
    text-align: center;
    margin-left: 5px;
}
.banner_escritas h1 {
    font-size: 110px;
    color: #3d2514;
    text-shadow: white 3px 3px 3px ;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
}
.banner_escritas h2 {
    font-size: 70px;
    margin-top: -40px;
    color: #3d2514;
    text-shadow: white 3px 3px 3px ;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
}

.banner_promo {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: auto;
}

.circulo_promo {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #bf2222;
    border: dashed 2px white;
    height: 100px;
    width: 100px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
}

#comidas {
    display: flex;
    justify-content: center;
    height: 500px;
    width: auto;
    
}
.comidas_options {
    display: flex;
    justify-content: center;
    flex: 1;
}

.comidas_geral {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.option1 ,
.option2 {
    flex: 1;
    margin: 20px 0px 20px 20px;
}
.option1 {
    margin: 20px 0px 20px 20px;
    background-image: url('../imagens/burguer1.jpg-1.png');
    background-position: center;
    background-size: cover;
    border-radius: 15px ;

}

.option2 {
    display: flex;
    flex-direction: column;
}

.option3 ,
.option4 {
    flex: 1;
    margin-bottom: 10px;
    border-radius: 15px ;
}

.option3 {
    background-image: url('../imagens/burguer2.png');
}

.option4 {
    background-image: url('../imagens/burguer3.png');
}

.option_descricao {
    margin-bottom: -55px;
    color: white;
    padding: 20px;
    width: 200px;
    line-height: 40px
    
}

.option4_titulo,
.option1_titulo {
    width: 400px;
}

.option_descricao h1 {
    font-size: 40px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 1;
}

#geral aside {
    flex: 1;
}

.article {
    flex: 1;
    margin-right: 20px;
}

.sabores_gerais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_sabores button {
    margin-top: 40px;
    background-color: #ffc045;
    color: #3d2514;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 20px ;
    border: none;
    cursor: pointer;
}

.titulo_sabores {
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 60px;
    color: #3d2514;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
}
 
.descricao_sabores {
    color: #3d2514;
    font-size: 16px;
    text-align: center;
 }

 .hamburgers {
     display: flex;
     height: 600px;
     margin: 30px;
 }

 .burguer1,
 .burguer2,
 .burguer3 {
     flex: 1;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
    
 }

 .burguer1 h1{
     color: #3d2514;
     font-size: 30px;
     text-transform: uppercase;
     margin-bottom: 10px;
 }

 .burguer1 p {
     color: #3d2514;
     font-weight: 400;
     margin-bottom: 30px;
     text-align: center;

 }

 .burguer1 button {
     background-color: #bf2222;
     color: white;
     width: 180px;
     height: 40px;
     cursor: pointer;
     border: none;
     text-transform: uppercase;
     font-family: 'Alfa Slab One', cursive;
     letter-spacing: 1px;

 }

 #geral section {
     flex: 1;
 }

 .divulgacao {
    display: flex;
    justify-content: space-between;
    
    background-color: #ffffff;
    -webkit-box-shadow: 8px 8px 30px 0px #aca9a9;
    -moz-box-shadow:    8px 8px 30px 0px #aca9a9;
    box-shadow:         8px 8px 30px 0px #aca9a9;
 }

 .titulo_divulgacao {
     flex-direction: column;
     padding: 40px;
     margin-top: 80px;
     align-items: flex-end;
     max-width: 500px;
     padding-left: 80px;
 }

 .titulo_divulgacao h4{
    color: #3d2514;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
 }

 .titulo_divulgacao h1 {
     font-size: 40px;
     color: #3d2514;
     text-transform: uppercase;
     font-family: 'Alfa Slab One', cursive;
 }

 .titulo_divulgacao p {
     color: #3d2514;
     font-weight: 400;
     font-size: 18px;
     margin-top: 30px;
 }

 .divulgacao_img {
     padding: 40px;
 }


 #form {
    display: flex;
    justify-content: center;
 }
 #form section {
     flex: 1;
 }

 .fomulario_geral {
     display: flex;
     justify-content: center;  
     flex-direction: column;   
 }

 .titulos_form {
     margin-top: 100px;
     text-align: center;
 }
 .titulos_form h4{
    color: #3d2514;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
 }

 .titulos_form h1 {
    font-size: 40px;
    color: #3d2514;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
 }

 .formulario_geral {
     display: flex;
     justify-content: center;
 }

 .formulario {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     max-width: 700px;
     flex: 1;
     margin: 40px;
 }

 .wrap {
     flex-wrap: wrap;
 }

 .label-input input {
     width: 300px;
     height: 50px;
     text-transform: uppercase;
     margin: 10px;
     border-radius: 3px;
     border: 1px solid #bebebe;

 }

 .label-input ::placeholder {
     padding: 20px;
 }

 .label-input .btn_reservar {
    background-color: #bf2222;
    border: none;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
 }

 